---
layout: default
---

{% assign aid_items = site.data.items | where:"type","aid" | sort:"name" %}
{% assign crafted_items = site.data.items | where:"type","crafted" | sort:"name" %}
{% assign reagents = site.data.items | where:"type","reagent" | sort:"name" %}
{% assign salvaged_items = site.data.items | where:"type","salvaged" | sort:"name" %}

<div class="row">
  <div class="col-lg-4 col-md-6 col-xs-12">
    {% for item in aid_items %}
    <p>{{ item.name }} - {{ item.type }}</p>
    {% endfor %}
  </div>
  

  <div class="col-lg-4 col-md-6 col-xs-12">
    {% for item in crafted_items %}
    <p>{{ item.name }} - {{ item.type }}</p>
    {% endfor %}
  </div>
</div>
