---
layout: default
js: scripts/listcollapse.js
---

{% assign items = site.data.items | sort:"name" %}

<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <h4>Crafted items</h4>
        <ul class="list-group">
          {% for item in items %}
            {% if item.components %}
              {% include list-item.html item=item type='crafted' %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <h4>Items used in crafting</h4>
        <ul class="list-group">
          {% for item in items %}
            {% if item.used_in %}
              {% include list-item.html item=item type='reagent' %}
            {% endif %}
          {% endfor %}
      </div>
    
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <h4>Items not used in crafting</h4>
        <ul class="list-group">
          {% for item in items %}
            {% unless item.components or item.used_in %}
              {% if item.effect %}
                {% include list-item.html item=item type='aid' %}
              {% endif %}
            {% endunless %}
          {% endfor %}
      </div>
    </div>
  </div>
</div>