{% assign item = include.item %}
{% assign type = include.type %}
<li class="{{ type }} list-group-item">
  <span class="item-name">{{ item.name }}</span>
  <div class="effects pull-right">
    {% for effect in item.effect %}
    <span class="{{ effect[0] }}">{{ effect[1] }}</span>
    {% endfor %}
  </div>
  <span class="weight">Weight: {{ item.weight }}</span>
  <i class="expand fa fa-chevron-down"></i>
</li>

{% if type == 'crafted' %}
<ul class="sublist">
    <p>Crafting components</p>
  {% for component in item.components %}
  <li>{{ component.qty }} x {% include id-to-name.html id=component.id %}</li>
  {% endfor %}
</ul>
{% endif %}

{% if type == 'reagent' %}
<ul class="sublist">
    <p>Used in</p>
  {% for recipe in item.used_in %}
  <li>{{ recipe.qty }} x {% include id-to-name.html id=recipe.id %}</li>
  {% endfor %}
</ul>
{% endif %}